#video
  height: $v-size

#rectangle
  height: $r-height
  width: $r-width
  background-color: blue
  margin-left: 600px

.red
  background-color: red !important /*Have no idea why it does not work without importamt*/
  +transition(all 3s ease)

.video-wrap
  height: $v-size
  display: inline-block
  position: absolute

.page-title
  text-align: center
  margin-bottom: 40px
  color: $primary-color

.buttons
  margin-top: 120px

.btn-primary
  width: 100px

.anim
  width: 130px
  margin-left: 50px
