.page-title {
  color: red;
  text-align: center;
}

.btn-primary {
  width: 100px;
}

.controls-video{
    width: 1280px;
    position: absolute;
    bottom: 3%;
}

.video-wrap{
        display: inline-block;
        position: relative;
}
